<div [ngStyle]="{'display': !isFirstTime ? 'block' : 'none'}">
  <div class="container-header">
    <mat-form-field class="search">
      <input matInput (keyup)="applySearch($event.target.value)" placeholder="Search">
    </mat-form-field>
    <div class="action-button">

      <button mat-raised-button matTooltip="Lọc" [matMenuTriggerFor]="menu" color="primary" class="button">
        <mat-icon>filter_list</mat-icon>
      </button>

      <mat-menu #menu="matMenu" yPosition="below" xPosition="before" [hasBackdrop]='false' class="menu-filter">
        <div class="content-filter">
          <div (click)="$event.stopPropagation()" class="item-menu">
            <mat-form-field appearance="outline" class="item-filter">
              <mat-label>Tòa nhà</mat-label>
              <input matInput placeholder="" #building
                    (change)="setLocation($event.target.value, 'building')">
            </mat-form-field>
            <mat-divider [vertical]="true"></mat-divider>
            <mat-form-field appearance="outline" class="item-filter">
              <mat-label>Tầng</mat-label>
              <input matInput placeholder="" type="number" #floor
                    (change)="setLocation($event.target.valueAsNumber, 'floor')">
            </mat-form-field>
            <mat-divider [vertical]="true"></mat-divider>
            <mat-form-field appearance="outline" class="item-filter w-6rem">
              <mat-label>Từ: (Số lượng sinh viên)</mat-label>
              <input matTooltip="Từ: (Số lượng sinh viên)" matInput placeholder=""
                    (change)="setCapacity($event.target.valueAsNumber, 'min')"
                    [readonly]="isMulti? true : false" type="number" #minCapacity>
            </mat-form-field>
            <mat-form-field appearance="outline" class="item-filter w-6rem">
              <mat-label>Đến: (Số lượng sinh viên)</mat-label>
              <input matTooltip="Đến: (Số lượng sinh viên)" matInput placeholder=""
                    (change)="setCapacity($event.target.valueAsNumber, 'max')"
                    [readonly]="isMulti? true : false" type="number" #maxCapacity>
            </mat-form-field>
            <mat-divider [vertical]="true"></mat-divider>
            <mat-checkbox labelPosition="before" class="item-filter" (change)="setMulti()">Dùng được cho nhiều lớp</mat-checkbox>
          </div>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="action-filter">
          <button mat-raised-button color="primary" class="button" (click)="getFilter()">
            Lọc
          </button>
        </div>
      </mat-menu>

      <button mat-raised-button (click)="openDialog('add',{})" color="primary" class="button">
        Thêm
      </button>
    </div>
  </div>

  <div class="mat-elevation-z8" style="position: relative">
    <div class="background-loading" *ngIf="isLoading">
      <div class="lds-ellipsis position-loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <table mat-table matSort [dataSource]="dataSource" #myTable>
      <!-- Position Column -->
      <ng-container matColumnDef="position" >
        <th mat-header-cell *matHeaderCellDef class="stt-pad-l" > STT </th>
        <td mat-cell *matCellDef="let element, let i=index" class="stt-pad-l"> {{i+index+1}} </td>
      </ng-container>

      <!-- ID Column -->
      <!-- <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mã phòng </th>
        <td mat-cell *matCellDef="let element"> {{element._id}} </td>
      </ng-container> -->

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tên phòng </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Chairs Column -->
      <ng-container matColumnDef="capacity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SL sinh viên </th>
        <td mat-cell *matCellDef="let element"> {{element.capacity == -1? '' : element.capacity}} </td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Địa điểm </th>
        <td mat-cell *matCellDef="let element"> Tầng {{element.location.floor}} tòa {{element.location.building}} </td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="roomType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Dạng phòng </th>
        <td mat-cell *matCellDef="let element"> {{getFullText(element.roomType)}} </td>
      </ng-container>

      <!-- Multi Column -->
      <ng-container matColumnDef="multi">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Dùng được nhiều </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox [checked]='element.capacity == -1? 1 : 0' disabled="true"></mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" class="actions-width">
          <button mat-button matTooltip="Chỉnh sửa" class="actions-icon" (click)="openDialog('edit', element)">
            <mat-icon class="edit-icon">edit</mat-icon>
          </button>
          <button mat-button matTooltip="Xóa" class="actions-icon" (click)="openDialog('delete', element)">
            <mat-icon class="delete-icon">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator  [length]="dataLength"
                    [pageSize]="pageSize"
                    [pageSizeOptions]="[8, 25, 50, 100]"
                    (page)="getPageEvent($event)">
    </mat-paginator>
</div>
</div>
<div [ngStyle]="{'display': isFirstTime? 'block' : 'none'}" class="spinner-loading">
  <div class="lds-facebook">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
