<h1 mat-dialog-title>
  <strong *ngIf="action == 'add'">Thêm giáo viên mới</strong>
  <strong *ngIf="action == 'edit'">Chỉnh sửa thông tin giáo viên</strong>
  <strong *ngIf="action == 'delete'">Xoá giáo viên</strong>
</h1>
<div mat-dialog-content *ngIf="action != 'delete'; else elseTemplate" style="overflow: unset">
  <div class="example-container">
    <mat-form-field>
      <input placeholder="Mã giáo viên" matInput [(ngModel)]="local_data._id">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Tên giáo viên" matInput [(ngModel)]="local_data.name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Bộ môn</mat-label>
      <mat-select [(value)]="local_data.department.name">
        <mat-option>None</mat-option>
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-content>
  <ng-template #elseTemplate>
    <label>Bạn chắc chắn muốn xóa giáo viên này?</label><br>
    <b>{{local_data._id}}</b> - <b>{{local_data.name}}</b>
  </ng-template>
</div>
<div mat-dialog-actions style="float: right; margin: 25px 15px 0px">
  <button mat-stroked-button *ngIf="action == 'add'" color="primary" (click)="doAction()">Thêm</button>
  <button mat-stroked-button *ngIf="action == 'edit'" color="primary" (click)="doAction()">Sửa</button>
  <button mat-stroked-button *ngIf="action == 'delete'" color="warn" (click)="doAction()">Xóa</button>
  <button mat-stroked-button (click)="closeDialog()" mat-flat-button>Hủy bỏ</button>
</div>
