<div fxFlex="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="header">

  <img mat-card-image src="../../../../assets/TL.png" class="logo overlay color">

  <div class="user-menu">
    <button mat-button [matMenuTriggerFor]="menu" class="user-button">
      <label style="margin: 10px">{{getFullNameUser}}</label>
      <img class="jim"
        src="{{avatarUser}}"
        alt="">
    </button>
    <mat-menu #menu="matMenu" yPosition="below" xPosition="before">
      <button mat-menu-item class="item-menu">
        <mat-icon class="item-icon">eco</mat-icon>
        <span>Something</span>
      </button>
      <button mat-menu-item class="item-menu" (click)="goToProfile()">
        <mat-icon class="item-icon">account_circle</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="logout()" class="item-menu">
        <mat-icon class="item-icon">exit_to_app</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
  </div>


</div>
