<p class="title-style">Quản lý thời khóa biểu</p>
<div [ngStyle]="{'display': !isLoading ? 'block' : 'none'}">
  <div class="container-header">
    <div class="select-action" style="max-width: 800px">

      <mat-form-field style="margin: 0 20px">
        <mat-label>Bộ môn</mat-label>
        <mat-select [(value)]="departmentSelected" (selectionChange)="getData()">
          <mat-option>
            <ngx-mat-select-search [formControl]="ServerSideFilteringCtrl" [searching]="searching" placeholderLabel=''>
            </ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let department of filteredServerSide | async" [value]="department">
            {{department.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <mat-form-field style="margin: 0 20px">
        <mat-label>Bộ môn</mat-label>
        <mat-select [(value)]="departmentSelected" (selectionChange)="getData()">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let item of semesters" [value]="item">{{item.value}}</mat-option>
        </mat-select>
      </mat-form-field> -->

      <mat-form-field style="margin: 0 20px">
        <mat-label>Học kỳ</mat-label>
        <mat-select [(value)]="semesterSelected" (selectionChange)="getData()">
          <mat-option *ngFor="let item of semesters" [value]="item">{{item.value}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field style="margin: 0 20px">
        <mat-label>Năm học</mat-label>
        <mat-select [(value)]="yearSelected" (selectionChange)="getData()">
          <mat-option *ngFor="let item of years" [value]="item">{{item}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <mat-card style="display: flex; background: #f0f2f5 !important; box-shadow: unset !important; padding: unset !important;">
    <mat-card style="width: 50%; margin-right: 20px; padding: 16px 0px 0px !important;">
      <mat-card-header>
        <mat-card-title style="text-align: center; width: 100%; font-size: 18px !important; padding-bottom: 10px;">
          <button mat-button color="warn" style="font-size: 18px !important;">Danh sách lớp đang chờ duyệt</button>
        </mat-card-title>
        <mat-card-subtitle style="margin-left: 16px !important">
          Tổng: <span>{{totalNotApproved}}</span>
        </mat-card-subtitle>
      </mat-card-header>
      <!-- <mat-card-content> -->
        <div class="mat-elevation-z8" style="box-shadow: unset !important;">
          <table mat-table matSort [dataSource]="dataSourceNotApproved">

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef class="stt-pad-l"> STT </th>
              <td mat-cell *matCellDef="let element" class="stt-pad-l"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Tên lớp </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="room">
              <th mat-header-cell *matHeaderCellDef> Phòng </th>
              <td mat-cell *matCellDef="let element"> {{element.room}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="shift">
              <th mat-header-cell *matHeaderCellDef> Ca </th>
              <td mat-cell *matCellDef="let element"> {{element.shift}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="day">
              <th mat-header-cell *matHeaderCellDef> Thứ </th>
              <td mat-cell *matCellDef="let element"> {{element.day}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <!-- <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Tình trạng </th>
              <td mat-cell *matCellDef="let element">
                <mat-chip-list>
                  <mat-chip color="warn" selected>Chưa duyệt</mat-chip>
                </mat-chip-list>
              </td>
            </ng-container> -->

            <!-- Symbol Column -->
            <!-- <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element" style="text-align: center !important;">
                <button mat-raised-button style="font-size: 12px !important;" color="primary">
                  Duyệt lớp
                </button>
              </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="notApprovedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: notApprovedColumns;"></tr>
          </table>

          <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      <!-- </mat-card-content> -->
    </mat-card>

    <!-- Danh sách lớp đã duyệt -->
    <mat-card style="width: 50%; margin-left: 20px; padding: 16px 0px 0px !important;">
      <mat-card-header>
        <mat-card-title style="text-align: center; width: 100%; font-size: 18px !important; padding-bottom: 10px;">
          <button mat-button color="primary" style="font-size: 18px !important;">Danh sách lớp đã duyệt</button>
        </mat-card-title>
        <mat-card-subtitle style="margin-left: 16px !important">
          Tổng: <span>{{totalApproved}}</span>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="mat-elevation-z8" style="box-shadow: unset !important;">
          <table mat-table matSort [dataSource]="dataSourceApproved">

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef class="stt-pad-l"> STT </th>
              <td mat-cell *matCellDef="let element" class="stt-pad-l"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Tên lớp </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="room">
              <th mat-header-cell *matHeaderCellDef> Phòng </th>
              <td mat-cell *matCellDef="let element"> {{element.room}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="shift">
              <th mat-header-cell *matHeaderCellDef> Ca </th>
              <td mat-cell *matCellDef="let element"> {{element.shift}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="day">
              <th mat-header-cell *matHeaderCellDef> Thứ </th>
              <td mat-cell *matCellDef="let element"> {{element.day}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <!-- <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Tình trạng </th>
              <td mat-cell *matCellDef="let element">
                <mat-chip-list>
                  <mat-chip color="primary" selected>Đã duyệt</mat-chip>
                </mat-chip-list>
              </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="approvedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: approvedColumns;"></tr>
          </table>

          <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card>
</div>
<div [ngStyle]="{'display': isLoading? 'block' : 'none'}" class="spinner-loading">
  <div class="lds-facebook">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
