@import '../../my-style/my-style.scss';

.select-action {
  margin-bottom: 50px;
  display: flex;
}

::ng-deep .mat-chip-list {
  ::ng-deep .mat-chip {
    font-size: 12px !important;
    font-weight: unset !important;
  }

  ::ng-deep .mat-standard-chip {
    min-height: 30px !important;
  }
}

.container-table {
  display: flex;
  background: #f0f2f5 !important;
  box-shadow: unset !important;
  padding: unset !important;
}

.table {
  width: 49%;
  padding: 16px 0px 0px !important;
  position: absolute;
  top: 0;
}

.mg-rl-20px {
  margin: 0 20px;
}

.title-table {
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
}
