@import '../../my-style/my-style.scss';

.select-action {
  margin-bottom: 50px;
  display: flex;
}

::ng-deep .mat-chip-list {
  ::ng-deep .mat-chip {
    font-size: 12px !important;
    font-weight: unset !important;
  }

  ::ng-deep .mat-standard-chip {
    min-height: 30px !important;
  }
}
