<div class=" login-background"></div>

<div class="login-wrapper set-to-center" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <img src="../../../assets/dtl_logo.png" class="img" alt="Logo TLU" mat-card-image>

      <form class="example-form"  autocomplete="false">
        <mat-card-content>
          <mat-form-field class="example-full-width" appearance="standard">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Fill me" [(ngModel)]="User.username" name="username">
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="standard">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Fill me" [(ngModel)]="User.password" name="password" type="password">
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="accent" class="btn-block" (click)="login()">Log in</button>
        </mat-card-actions>
        <mat-error *ngIf="isLoginFalse" class="text-error"><strong>Username</strong> or <strong>Password</strong> invalid</mat-error>
      </form>
    </mat-card>
</div>

