<div class="container-1">
  <mat-card style="width: 20%;">
    <mat-card-subtitle style="font-size: 16px; font-weight: 500;">
      Họ và tên
    </mat-card-subtitle>
    <mat-card-subtitle>
      {{userData.name}}
    </mat-card-subtitle>
  </mat-card>
  <mat-card style="width: 20%;">
    <mat-card-subtitle style="font-size: 16px; font-weight: 500;">
      Số điện thoại
    </mat-card-subtitle>
    <mat-card-subtitle>
      0123456789
    </mat-card-subtitle>
  </mat-card>
  <mat-card style="width: 20%;">
    <mat-card-subtitle style="font-size: 16px; font-weight: 500;">
      Email
    </mat-card-subtitle>
    <mat-card-subtitle>
      {{userData.username | lowercase}}@thanglong.edu.vn
    </mat-card-subtitle>
  </mat-card>
  <mat-card style="width: 20%;">
    <mat-card-subtitle style="font-size: 16px; font-weight: 500;">
      Địa chỉ
    </mat-card-subtitle>
    <mat-card-subtitle>
      Đại học Thăng Long
    </mat-card-subtitle>
  </mat-card>
</div>
<mat-divider></mat-divider>
<div class="container-2">
  <mat-card>
    <mat-card-subtitle style="font-size: 20px; font-weight: 500;">
      Mô tả
    </mat-card-subtitle>
    <mat-card-content>
      {{userData.description}}
    </mat-card-content>
  </mat-card>
</div>
