<div class="container-1">
  <mat-card style="width: 20%;">
    <mat-card-subtitle style="font-size: 16px; font-weight: 500;">
      Họ và tên
    </mat-card-subtitle>
    <mat-card-subtitle>
      Nguyễn Hồng Quân
    </mat-card-subtitle>
  </mat-card>
  <mat-card style="width: 20%;">
    <mat-card-subtitle style="font-size: 16px; font-weight: 500;">
      Số điện thoại
    </mat-card-subtitle>
    <mat-card-subtitle>
      0123456789
    </mat-card-subtitle>
  </mat-card>
  <mat-card style="width: 20%;">
    <mat-card-subtitle style="font-size: 16px; font-weight: 500;">
      Email
    </mat-card-subtitle>
    <mat-card-subtitle>
      nguyenquan24598@gmail.com
    </mat-card-subtitle>
  </mat-card>
  <mat-card style="width: 20%;">
    <mat-card-subtitle style="font-size: 16px; font-weight: 500;">
      Địa chỉ
    </mat-card-subtitle>
    <mat-card-subtitle>
      Đại học Thăng Long
    </mat-card-subtitle>
  </mat-card>
</div>
<mat-divider></mat-divider>
<div class="container-2">
  <mat-card>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Accusantium placeat quas sit minus hic deserunt provident
      quidem, fugit impedit ipsam nihil repudiandae voluptas soluta
      perspiciatis neque inventore exercitationem ea recusandae.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Repellat harum fugiat cum ipsam repellendus inventore laborum?
      Quis ipsam porro praesentium perferendis delectus. Rem mollitia
      unde dignissimos quas? Minus, cum provident! Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Placeat eos nemo vel,
      numquam reiciendis perspiciatis fuga recusandae iusto, eaque
      pariatur fugit in porro asperiores consequuntur molestiae quas,
      molestias corporis omnis!


      Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Accusantium placeat quas sit minus hic deserunt provident
      quidem, fugit impedit ipsam nihil repudiandae voluptas soluta
      perspiciatis neque inventore exercitationem ea recusandae.
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Repellat harum fugiat cum ipsam repellendus inventore laborum?
      Quis ipsam porro praesentium perferendis delectus. Rem mollitia
      unde dignissimos quas? Minus, cum provident! Lorem ipsum dolor
      sit amet consectetur adipisicing elit. Placeat eos nemo vel,
      numquam reiciendis perspiciatis fuga recusandae iusto, eaque
      pariatur fugit in porro asperiores consequuntur molestiae quas,
      molestias corporis omnis!
  </mat-card>
</div>
