<div [ngStyle]="{'display': !isFirstTime ? 'block' : 'none'}">
  <div class="header-top">
    <div>
      {{semesterSelected.value}}
    </div>
    <div>
      {{yearSelected}}
    </div>
  </div>
  <div class="container-header container-1">

    <div class="some-actions">
      <mat-form-field class="mg-l-r-30 w-40">
        <mat-label>Chọn học phần</mat-label>
        <mat-select (selectionChange)="courseSelected($event)">
          <mat-option *ngFor="let course of coursesList" [value]="course">
            {{course.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="mg-l-r-30 w-20">
        <input matInput placeholder="Số lớp học" (change)="setNumOfClass($event.target.valueAsNumber)" [value]="numOfClass" type="number">
      </mat-form-field>

      <mat-checkbox labelPosition='before' class="mg-l-r-30 w-30">Gộp lớp</mat-checkbox>
    </div>

    <div class="some-text">

      <mat-card class="frame-text">
        <mat-card-content class="text-tittle">Số giờ còn lại</mat-card-content>
        <div>
          <mat-card-content class="text-content">
            <span>Lý thuyết: <strong>{{theoryWeek}}</strong></span>
            <span>Thực hành: <strong>{{practiceWeek}}</strong></span>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" #myTable>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef class="custom-col-1">
          <button mat-icon-button matTooltip="Thêm lớp con"
                  [disabled]="course && isChildDone && numOfClass && ( theoryWeek!=0 || practiceWeek!=0) ? false : true"
                  (click)="addChildClass()" color="primary">
            <mat-icon>add_circle</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let element, let i=index" class="custom-col-1">
          <button mat-icon-button color="warn" matTooltip="Xóa lớp con"
                  (click)="deleteChildClass(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>


      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Tên lớp </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="students">
        <th mat-header-cell *matHeaderCellDef> Số lượng sinh viên </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-form-field>
            <input matInput placeholder="Số lượng sinh viên" type="number"
                  [(ngModel)]="ELEMENT_DATA[i].students">
          </mat-form-field>
        </td>
      </ng-container>


      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Loại </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-form-field>
            <mat-label>Loại phòng</mat-label>
            <mat-select [(value)]="ELEMENT_DATA[i].type">
              <mat-option value="LT">Lý thuyết</mat-option>
              <mat-option value="TH">Thực hành</mat-option>
              <mat-option value="TC">Thể chất</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>


      <ng-container matColumnDef="teacher">
        <th mat-header-cell *matHeaderCellDef> Giáo viên </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-form-field>
            <mat-label>Giáo viên</mat-label>
            <mat-select [value]="ELEMENT_DATA[i].teacher._id"
                        (selectionChange)="handleWithData($event.value, i, elm = 'teacher')">
              <mat-option *ngFor="let teacher of teacherList"
                          [value]="teacher._id">
                {{teacher.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>


      <ng-container matColumnDef="day">
        <th mat-header-cell *matHeaderCellDef> Thứ </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-form-field>
            <mat-label>Thứ</mat-label>
            <mat-select [(value)]="ELEMENT_DATA[i].date.day"
                        [disabled]="!ELEMENT_DATA[i].teacher.name ? true : false ">
              <mat-option *ngFor="let day of days" [value]="day">
                {{tranformToVn(day)}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>


      <ng-container matColumnDef="shift">
        <th mat-header-cell *matHeaderCellDef> Ca </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <!-- <mat-form-field>
            <mat-label>Ca</mat-label>
            <mat-select [value]="ELEMENT_DATA[i].date.shift"
                        (selectionChange)="handleWithData($event.value, i, elm = 'shift')">
              <mat-option *ngFor="let shift of shifts" [value]="shift"> {{shift}} </mat-option>
            </mat-select>
          </mat-form-field> -->
          <mat-form-field>
            <mat-label>Ca</mat-label>
            <mat-select [value]="ELEMENT_DATA[i].date.shift"
                        (selectionChange)="handleWithData($event.value, i, elm = 'shift')"
                        [disabled]="ELEMENT_DATA[i].date.day && ELEMENT_DATA[i].type ? false : true ">
              <mat-option *ngFor="let shift of shifts"
                          [value]="shift"> {{shift}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>


      <ng-container matColumnDef="room">
        <th mat-header-cell *matHeaderCellDef> Phòng</th>
        <td mat-cell *matCellDef="let element; let i = index">
          <mat-form-field>
            <mat-label>Phòng</mat-label>
            <mat-select [value]="ELEMENT_DATA[i].room._id"
                        (selectionChange)="handleWithData($event.value, i, elm = 'room')"
                        [disabled]="!ELEMENT_DATA[i].date.shift ? true : false ">
              <mat-option *ngFor="let room of roomList"
                          [value]="room._id">
                {{room.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-card>
      <mat-card-actions class="justify">

        <div style="width: 40%">
          <button mat-icon-button color="primary" (click)="setPreClass()"
                  [disabled]="countClass==1 || !countClass ? true : false">
            <mat-icon>arrow_left</mat-icon>
          </button>
        </div>

        <div style="width: 20%; text-align: center; align-self: center">
          <label>{{countClass}}</label>
        </div>

        <div style="width: 40%; display: flex; justify-content: flex-end">
          <button mat-icon-button color="primary" (click)="setNextClass()"
                  [disabled]="theoryWeek==0 && practiceWeek==0 && isCreateClassDone? false : true"
                  *ngIf="!isLastClass; else addDone">
            <mat-icon>arrow_right</mat-icon>
          </button>

          <ng-template #addDone>
            <button mat-raised-button color="primary" (click)="addClass()"
                    [disabled]="theoryWeek==0 && practiceWeek==0 && isCreateClassDone? false : true">
              Thêm lớp học
            </button>
          </ng-template>
        </div>

      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div [ngStyle]="{'display': isFirstTime? 'block' : 'none'}" class="spinner-loading">
  <div class="lds-facebook">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
