@import '../../../my-style/my-style.scss';

.select-action {
  margin-bottom: 50px;
  display: flex;
}

.header-top {
  margin: 0px 50px 50px;
  max-width: 100%;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::ng-deep .mat-chip-list {
  ::ng-deep .mat-chip {
    font-size: 12px !important;
    font-weight: unset !important;
  }

  ::ng-deep .mat-standard-chip {
    min-height: 30px !important;
  }
}
