<h1 mat-dialog-title>
  <strong *ngIf="action == 'Thêm'">Thêm phòng học mới</strong>
  <strong *ngIf="action == 'Sửa'">Chỉnh sửa thông tin phòng học</strong>
  <strong *ngIf="action == 'Xóa'">Xoá phòng học</strong>
</h1>
<div mat-dialog-content *ngIf="action != 'Xóa'; else elseTemplate" style="overflow: unset">
  <div class="example-container">
    <mat-form-field>
      <input placeholder="Mã phòng" matInput [(ngModel)]="local_data.id">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Tên phòng" matInput [(ngModel)]="local_data.name">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Địa chỉ" matInput [(ngModel)]="local_data.address">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Số lượng sinh viên tối đa" type="number" matInput [(ngModel)]="local_data.chairs">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Chọn loại phòng</mat-label>
      <mat-select [(value)]="local_data.type">
        <mat-option>None</mat-option>
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox [checked]='local_data.multi' (change)="onChange($event)">Dùng được cho nhiều môn</mat-checkbox>
  </div>
</div>
<div mat-dialog-content>
  <ng-template #elseTemplate>
    <label>Bạn chắc chắn muốn xóa phòng này?</label><br>
    <b>{{local_data.id}}</b> - <b>{{local_data.name}}</b>
  </ng-template>
</div>
<div mat-dialog-actions style="float: right; margin: 25px 15px 0px">
  <button mat-stroked-button *ngIf="action != 'Xóa'" color="primary" (click)="doAction()">{{action}}</button>
  <button mat-stroked-button *ngIf="action == 'Xóa'" color="warn" (click)="doAction()">{{action}}</button>
  <button mat-stroked-button (click)="closeDialog()" mat-flat-button>Hủy bỏ</button>
</div>
