<form [formGroup]="passwordForm" autocomplete="off">
  <div class="container">
    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Mật khẩu hiện tại" [formControl]="currentPasswordControl" required type="password">
      <mat-error *ngIf="hasError('current', 'required')">Mật khẩu hiện tại không được để trống.</mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Mật khẩu mới" [formControl]="newPasswordControl" required type="password">
      <mat-error *ngIf="hasError('new', 'required')">Mật khẩu mới không được để trống.</mat-error>
      <mat-error *ngIf="hasError('new', 'minlength')">Mật khẩu không được ít hơn 6 ký tự.</mat-error>
      <mat-error *ngIf="hasError('new', 'maxlength')">Mật khẩu không được nhiều hơn 20 ký tự.</mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Xác nhận mật khẩu mới" [formControl]="confirmPasswordControl" required type="password">
      <mat-error *ngIf="hasError('confirm', 'required')">Xác nhận mật khẩu mới không được để trống.</mat-error>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" style="float: right; margin: 10px;" [disabled]="passwordForm.invalid"
    (click)="changePassword()">Đổi mật khẩu</button>
</form>
