<h1 mat-dialog-title>
  <strong *ngIf="action == 'add'">Thêm bộ môn mới</strong>
  <strong *ngIf="action == 'edit'">Chỉnh sửa thông tin bộ môn</strong>
  <strong *ngIf="action == 'delete'">Xoá bộ môn</strong>
</h1>
<div mat-dialog-content *ngIf="action != 'delete'; else elseTemplate" style="overflow: unset">
  <div class="example-container">
    <mat-form-field>
      <input placeholder="Mã bộ môn" matInput [(ngModel)]="local_data.schoolId">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Tên bộ môn" matInput [(ngModel)]="local_data.name">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-content>
  <ng-template #elseTemplate>
    <label>Bạn chắc chắn muốn xóa học phần này?</label><br>
    <b>{{local_data.schoolId}}</b> - <b>{{local_data.name}}</b>
  </ng-template>
</div>
<div mat-dialog-actions style="float: right; margin: 25px 15px 0px">
  <button mat-stroked-button *ngIf="action == 'add'" color="primary" (click)="doAction()">Thêm</button>
  <button mat-stroked-button *ngIf="action == 'edit'" color="primary" (click)="doAction()">Sửa</button>
  <button mat-stroked-button *ngIf="action == 'delete'" color="warn" (click)="doAction()">Xóa</button>
  <button mat-stroked-button (click)="closeDialog()" mat-flat-button>Hủy bỏ</button>
</div>
