<h1 mat-dialog-title>
  <strong *ngIf="action == 'add'">Thêm bộ môn mới</strong>
  <strong *ngIf="action == 'edit'">Chỉnh sửa thông tin bộ môn</strong>
  <strong *ngIf="action == 'delete'">Xoá bộ môn</strong>
</h1>
<form [formGroup]="departmentForm" autocomplete="off" >
  <div mat-dialog-content *ngIf="action != 'delete'; else elseTemplate" style="overflow: unset">
    <div class="example-container">
      <mat-form-field>
        <input placeholder="Mã bộ môn" matInput [(ngModel)]="local_data.schoolId" [formControl]="schoolIdFormControl" required>
        <!-- <mat-hint align="end">Not more then 60 characters long.</mat-hint> -->
        <mat-error *ngIf="hasError('schoolId', 'required')">Mã bộ môn không được để trống.</mat-error>
        <mat-error *ngIf="hasError('schoolId', 'minlength')">Mã bộ môn không được ít hơn 4 ký tự.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input placeholder="Tên bộ môn" matInput [(ngModel)]="local_data.name" [formControl]="nameFormControl" required>
        <!-- <mat-hint align="end">Not more then 60 characters long.</mat-hint> -->
        <mat-error *ngIf="hasError('name', 'required')">Tên bộ môn không được để trống.</mat-error>
        <mat-error *ngIf="hasError('name', 'maxlength')">Tên bộ môn không được vượt quá 50 ký tự.</mat-error>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-content>
    <ng-template #elseTemplate>
      <label>Bạn chắc chắn muốn xóa học phần này?</label><br>
      <b>{{local_data.schoolId}}</b> - <b>{{local_data.name}}</b>
    </ng-template>
  </div>
  <div mat-dialog-actions style="float: right; margin: 25px 15px 0px">
    <button mat-stroked-button *ngIf="action == 'add'" color="primary" (click)="doAction()" [disabled]="departmentForm.invalid">Thêm</button>
    <button mat-stroked-button *ngIf="action == 'edit'" color="primary" (click)="doAction()" [disabled]="departmentForm.invalid">Sửa</button>
    <button mat-stroked-button *ngIf="action == 'delete'" color="warn" (click)="doAction()">Xóa</button>
    <button mat-stroked-button (click)="closeDialog()" mat-flat-button>Hủy bỏ</button>
  </div>
</form>
