table, td, th {
  border: 1px solid black;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.custom-col-7 {
  width: calc(96% / 7);
  height: 50px;
}

.row-height {
  height: 35px;
}
