<div class="container-header" style="margin-top: 50px; display: flex; justify-content: space-between;">
  <div class="select-action" style="max-width: 800px">

    <!-- <mat-form-field style="margin: 0 20px" *ngIf="!dataUser.department || dataUser.role == 0">
      <mat-label>Bộ môn</mat-label>
      <mat-select [(value)]="departmentSelected" (selectionChange)="getData()">
        <mat-option>
          <ngx-mat-select-search [formControl]="ServerSideFilteringCtrl" [searching]="searching" placeholderLabel=''>
          </ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let department of filteredServerSide | async" [value]="department._id">
          {{department.name}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <mat-form-field class="mg-rl-20px" *ngIf="dataUser.role != 0">
      <mat-label>Giáo viên</mat-label>
      <mat-select [(value)]="teacherSelected" (selectionChange)="getData()">
        <mat-option>
          <ngx-mat-select-search [formControl]="ServerSideFilteringCtrl" [searching]="searching" placeholderLabel=''>
          </ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let teacher of teacherList" [value]="teacher._id">
          {{teacher.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="mg-rl-20px">
      <mat-label>Học kỳ</mat-label>
      <mat-select [(value)]="semesterSelected" (selectionChange)="getData()">
        <mat-option *ngFor="let item of semesters" [value]="item">{{item.value}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="mg-rl-20px">
      <mat-label>Năm học</mat-label>
      <mat-select [(value)]="yearSelected" (selectionChange)="getData()">
        <mat-option *ngFor="let item of years" [value]="item">{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div style="margin-bottom: 50px; align-self: center;">
    <button mat-raised-button color="primary" class="button" [disabled]="!schedule" (click)="exportToExcel()">
      Xuất Excel
    </button>
  </div>
</div>
<div class="mat-elevation-z8 pos-relative w-100 mg-rl-auto">
  <div class="background-loading" *ngIf="isLoading">
    <div class="lds-ellipsis position-loading">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <table style="border-collapse: collapse; ">
    <thead>
      <th style="width: 4%; height: 50px"></th>
      <th class="custom-col-7">Thứ 2</th>
      <th class="custom-col-7">Thứ 3</th>
      <th class="custom-col-7">Thứ 4</th>
      <th class="custom-col-7">Thứ 5</th>
      <th class="custom-col-7">Thứ 6</th>
      <th class="custom-col-7">Thứ 7</th>
      <th class="custom-col-7">Chủ nhật</th>
    </thead>
    <tbody *ngIf="schedule; else default">
      <tr *ngFor="let shift of schedule; let indexRow = index" class="row-height">
        <td class="custom-td">{{printShift(shift.shift)}}</td>
        <ng-container *ngFor="let td of emptyArray(7); let indexCol = index">
          <td *ngIf="notHaveAnotherData(indexRow, indexCol, shift.shift)"
            [attr.rowspan]="haveData(indexRow, indexCol) ? getShiftTotal(indexRow, indexCol) : 1"
            style="padding: 10px !important; height: inherit;">
            <div *ngIf="haveData(indexRow, indexCol)" style="height: 100%">
                <button mat-flat-button [color]="randomColor(classData.name)" style="width: 100% !important; height: 100%;">
                  {{classData.name}}
                  <br>
                  {{classData.room}}
                </button>
            </div>
          </td>
        </ng-container>
      </tr>
    </tbody>
    <ng-template #default>
      <tbody>
        <tr *ngFor="let row of emptyArray(13); let i = index" class="row-height">
          <td class="custom-td">{{i+1}}</td>
          <td *ngFor="let col of emptyArray(7)" style="padding: 10px !important; height: inherit;"></td>
        </tr>
      </tbody>
    </ng-template>
  </table>
</div>
